extends layout

block content
	div.body
		div(class='row')
			div(class='col-xl-2')
			div(class='col-xl')
				a(href='/post-submission' class='btn btn-success btn-lg btn-right') #[strong Share Your Experience]
			div(class='col-xl-2')
		
		br
		div(class='row')
			div(class='col-xl')
				p(class='space')
				
		//post template
		- var ID = 0
		#posts
			each post in posts
				- var carouselId = 'n' + ID
				- var carId = '#' + carouselId
				- var carItemCount = 0
				
				- var imgCount = 0

				div(class='row')
					div(class='col-xl-2')
						each img in media
							if img.id == post.id
								p(class='space')= imgCount++

						
					if imgCount == 0
						div(class='col-xl outline')
							div(class='card')
								div(class='card-header')
									h3(class='red') #[strong #{post.work}] 
								div(class='card-body box')
									p(style="opacity: 75%") #{post.date}
									p #{post.story}
								div(class='card-footer')
									if post.anonymous == 'no'
										h4 #{post.name}, Grade #{post.grade} at #{post.school}
									else
										h4 Anonymous
										
					if imgCount == 1
						div(class='col-xl outline')
							div(id=carouselId class='carousel slide' data-bs-ride='carousel')
								
								div(class='carousel-inner')
									each img in media
										if img.id == post.id
											- var l = carItemCount++
											- var path = img.path
											if l == 0
												div(class='carousel-item post active')
													img(src=path alt='placeholder image' class='d-block')
											else if l > 0
												div(class='carousel-item post')
													img(src=path alt='placeholder image' class='d-block')
						
						div(class='col-xl outline')
							div(class='card')
								div(class='card-header')
									h3(class='red') #[strong #{post.work}] 
								div(class='card-body box')
									p(style="opacity: 75%") #{post.date}
									p #{post.story}
								div(class='card-footer')
									if post.anonymous == 'no'
										h4 #{post.name}, Grade #{post.grade} at #{post.school}
									else
										h4 Anonymous
									
					else
						div(class='col-xl outline')
							div(id=carouselId class='carousel slide' data-bs-ride='carousel')

								div(class='carousel-indicators')
									- var i = 0
									while i < imgCount
										- var j = '' + i++
										if j == 0
											button(type='button' data-bs-target=carId data-bs-slide-to=j class='active')
										else if i > 0
											button(type='button' data-bs-target=carId data-bs-slide-to=j)
							
								div(class='carousel-inner')
									each img in media
										if img.id == post.id
											- var l = carItemCount++
											- var path = img.path
											if l == 0
												div(class='carousel-item post active')
													img(src=path alt='placeholder image' class='d-block')
											else if l > 0
												div(class='carousel-item post')
													img(src=path alt='placeholder image' class='d-block')
													
								button(class='carousel-control-prev' type='button' data-bs-target=carId data-bs-slide='prev')
									span(class='carousel-control-prev-icon')
								button(class='carousel-control-next' type='button' data-bs-target=carId data-bs-slide='next')
									span(class='carousel-control-next-icon')
									
						div(class='col-xl outline')
							div(class='card')
								div(class='card-header')
									h3(class='red') #[strong #{post.work}]
								div(class='card-body box')
									p(style="opacity: 75%") #{post.date}
									p #{post.story}
								div(class='card-footer')
									if post.anonymous == 'no'
										h4 #{post.name}, Grade #{post.grade} at #{post.school}
									else
										h4 Anonymous
						
						
						
					div(class='col-xl-2 space')
						p= ID++
					
