extends layout

block content
	div.body
		div(class='row')
			div(class='col-xl-2')
			div(class='col-xl')
				a(href='/post-submission' class='btn btn-success btn-lg btn-right') #[strong Share Your Experience]
			div(class='col-xl-2')
		
		br
		div(class='row')
			div(class='col-xl')
				p(class='space') space
				
		//post template
		#posts
			each post in posts
				div(class='row')
					div(class='col-xl-2')
					
					div(class='col-xl outline')
						div(id='demo' class='carousel slide' data-bs-ride='carousel')

							div(class='carousel-indicators')
								button(type='button' data-bs-target='#demo' data-bs-slide-to='0' class='active')
								button(type='button' data-bs-target='#demo' data-bs-slide-to='1')
								button(type='button' data-bs-target='#demo' data-bs-slide-to='2')
						
							div(class='carousel-inner')
								div(class='carousel-item active')
									img(src='/images/IMG_8143.jpeg' alt='placeholder image' class='d-block' style='width:100%')

								div(class='carousel-item')
									img(src='/images/shovels.jpeg' alt='placeholder image' class='d-block' style='width:100%')
								div(class='carousel-item')
									iframe(type='text/html' width='100%' height='329' src='http://www.youtube.com/embed/bo1l7sVisB8?autoplay=1&origin=http://example.com' frameborder='0')
									
							button(class='carousel-control-prev' type='button' data-bs-target='#demo' data-bs-slide='prev')
								span(class='carousel-control-prev-icon')
							button(class='carousel-control-next' type='button' data-bs-target='#demo' data-bs-slide='next')
								span(class='carousel-control-next-icon')
								
					div(class='col-xl outline')
						div(class='card')
							div(class='card-header')
								h3(class='red') #[strong #{post.work}]
							div(class='card-body box')
								p #{post.story}
								p.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuxlod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
								dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							div(class='card-footer')
								if post.anonymous == 'no'
									h4 #{post.name}, Grade #{post.grade} at #{post.school}
								else
									h4 Anonymous
						
						
						
					div(class='col-xl-2')
