extends layout

block content
	form(action="/logout" method="POST")
		button(type="submit" class="btn btn-danger btn-lg") Logout
	div.body
		div(class="row")
			div(class="col-sm-8")
				div(class="row")
					- var postCount = 0
					each post in posts
						if post.status == 'not approved'
						p(class='space')= postCount++
				
					h3(style="text-align:center; padding:20px") #[strong New Posts: ##{postCount}]
					#posts 
						each post in posts
							- var isChecked = true
							div(class="card")
								form(action="/approve-selected" method="POST")
									div(class="card-header")
										div.grid
											#media
												each img in media
													if img.id == post.id
														- var mID = "m" + img.m_id
														- var path = img.path
														img(src=path alt="placeholder image" id=img.m_id style="width:50%" class="grid-item")
														input(type="hidden", name="alt_text", value=img.m_id)
														input(type="text", name="alt_text", placeholder="Alt text", id=mID, required)
												
									div(class="card-body")
										button(type="button" class="btn btn-danger btn-sm select-img") #[strong Select Images]
										- var Id= post.id
										h3 #[strong #{post.name}, #{post.grade}th grade, #{post.school}, anonymous #{post.anonymous}, worked on #{post.date}, worked at #{post.work}.]  
										p #{post.story}
											input(type="hidden" name="postid" value=Id)
											div(class="form-check")
													input(type="checkbox" name="myCheckbox" class="form-check-label" id="checkbox")
													label(class="form-check-label") #[strong Include Text]
												
											p(class="space") space
											
											div(id='elems')
												each img in media
													if img.id == post.id
														- var mID = img.m_id
														input(type='hidden' id=mID name='denied' value=mID)
												
											button(type="submit" class="btn btn-success") #[strong Approve Selected]
											
								form(action="/deny-all", method="POST")
									input(type="hidden" name="postid" value=Id)
									button(type="submit" class="btn btn-danger") #[strong Deny All]
													
									
							
			div(class="col-sm-1")
				div(class="row")
					div(class="col-sm")
						p(class="space") space
				
			div(class="col-sm-3")
				h3.space space
				div(class="d-grid")
				form(action="/remove-moderator", method="POST")
					input(type="text", name="modEmail", placeholder="Moderator email")
					button(type="submit" class="btn btn-danger") #[strong Remove Moderator]
					
				h3.space space
				div(class="d-grid")
				form(action="/new-moderator", method="POST")
					input(type="text", name="modEmail", placeholder="Moderator email")
					button(type="submit" class="btn btn-success btn-block") #[strong Add New Moderator]
					
	div(class="modal" id="Warning")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						h2(class="modal-title") #[strong Attention!]
						button(type="button" class="btn-close" data-bs-dismiss="modal")
		
					div(class="modal-body")
						p(style="font-size:25px") You are exceeding the featured post count.
						p If you want to pin this post, you must unpin a pinned post first before pinning another one.
					div(class="modal-footer")
						button(type="button" class="btn btn-danger" data-bs-dismiss="modal") Close pop-up.